---
import { siteConfig } from '../lib/site-config';
---

<div class="topbar">
  <div class="container topbar-inner">
    <div class="topbar-left">
      <span class="topbar-status">
        <span class="topbar-status-dot"></span>
        ONLINE
      </span>
      <span class="hide-mobile">{siteConfig.version}</span>
      <span class="hide-mobile">UPTIME {siteConfig.stats.uptime}</span>
    </div>
    <div class="topbar-right">
      <span class="hide-mobile">{siteConfig.stats.essays} ESSAYS</span>
      <span>{siteConfig.stats.subs} SUBS</span>
    </div>
  </div>
</div>
